.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 60px
}/* Banner design */

